section.transaction-new-card {
	position: relative;
	/* width: min(90%, 60rem); */
	background-image: linear-gradient(
		to bottom right,
		var(--gray-200),
		hsla(260, 10%, 19%, 41%)
	);
	padding: 1.6rem;
	border-radius: var(--rounded-md);
	/* height: 16rem; */
	grid-area: nw;
}

h3.new-transaction-title {
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--gray-600);
	margin-bottom: 1.6rem;
}

select.transaction-type {
	background-color: var(--gray-300);
	padding: 0.8rem;
	border-radius: var(--rounded);
	outline: none;
	border: 1px solid var(--gray-400);
	text-transform: capitalize;
	color: var(--gray-700);
	font-size: 1.4rem;
	font-weight: 400;
}

select.transaction-type:hover {
	border-color: var(--gray-500);
}

/* style for input field from signup */
input.amount-field {
	width: min(16rem, 80vw);
	margin: 0.8rem;
}

input.description-field {
	width: 30vw;
	/* width: auto; */
	margin: 0.4rem;
}

button.add-button {
	background-color: var(--purple-500);
	padding: 0.8rem 1.6rem;
	font-size: 1.4rem;
	font-weight: 600;
	border-radius: var(--rounded);
	box-shadow: 0 4px 4px #0001;
}

@media only screen and (max-width: 540px) {
	input.amount-field {
		width: min(25rem, 60vw);
		/* margin-left: 0; */
	}

	input.description-field {
		width: min(50rem, 90vw);
		margin-left: 0;
		margin-bottom: 1.2rem;
	}
}

.character-count {
	position: absolute;
	background-color: var(--gray-100);
	top: 16px;
	right: 20px;
	color: var(--gray-700);
	font-weight: 600;
	padding: 0.2rem;
	border-radius: var(--rounded);
}

.error-para {
	font-size: 1.2rem;
	color: var(--red-600);
	font-weight: 500;
}
